<mat-grid-list cols="2">
  <mat-grid-tile>

    <form>
      <mat-form-field>
        <mat-label>Favorite language</mat-label>

        <input matInput [formControl]="languageCtrl" [matAutocomplete]="auto" >
        
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLanguage = $event.option.value" [displayWith]="displayFn">
          <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
            {{(language.languageIsoCodesWithLocales | keyvalue)[0].value}}
          </mat-option>
        </mat-autocomplete>
        
      </mat-form-field>
      <br />
      <button mat-raised-button (click)="saveLanguage()">Save Language</button>

    </form>
  </mat-grid-tile>

  <mat-grid-tile>

    <div cdkDropList (cdkDropListDropped)="drop($event)" class="language-list">
      <app-language 
        class="language-card"
        *ngFor="let savedLanguage of savedLanguageList; let i = index" 
        [savedLanguage]="savedLanguage"
        (languageRemoved)="onLanguageRemoved($event)" 
        (languageSet)="onLanguagePreferred()"
        cdkDrag [cdkDragData]="i">
      </app-language>
    </div>
  </mat-grid-tile>
  
</mat-grid-list>