<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile [rowspan]="3" [colspan]="1">

    <div>{{preferredLanguage}}</div>

    <form>
      <mat-form-field>
        <mat-label>Favorite language</mat-label>

        <input matInput [formControl]="languageCtrl" [matAutocomplete]="auto">
        
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
            {{ language.languageIsoCodesWithLocales[language.iso] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <p> Selected language: {{languageCtrl.value?.iso}} </p>
      <button mat-raised-button (click)="saveLanguage()">Save Language</button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let savedLanguage of savedLanguageList">  
    <app-language [savedLanguage]="savedLanguage" (languageRemoved)="onLanguageRemoved($event)" (languageSet)="onLanguagePreferred($event)"> 
  </app-language>
  </mat-grid-tile>
  
</mat-grid-list>